{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="Plataforma para el procesado de actas GRUPO BCM SERVICIOS DE EDUCACION Y CONSULTORES SAS DE CV">
    <meta name="author" content="Maria Magdalena Bernal Caro">
    <title>Resolutions</title>
    <link rel="icon" href="#" type="image/x-icon">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'plugins/fontawesome-free/css/all.min.css' %}">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css" integrity="sha512-1cK78a1o+ht2JcaW6g8OXYwqpev9+6GqOkz9xmBN9iUUhIndKtxwILGWYOSibOKjLsEdjyjZvYDq/cZwNeak0w==" crossorigin="anonymous" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- Sweat Alert CSS-->
    <link rel="stylesheet" href="{% static 'plugins/sweetalert2-9.10.0/sweetalert2.min.css' %}">

    {% block extra_head %}
    {% endblock extra_head %}
  </head>    

    {% include 'navbar.html' %}
    
    <div class="message mt-5">
      {% if messages %}
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
          {{ message }}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
          </button>
        </div>
        {% endfor %}
      {% endif %}
    </div>

<body>
    {% block content %}
    {% endblock content %}
    
    {% block javascript %}
      <!-- Project JavaScript -->
      <!-- jQuery first, then Popper.js, then Bootstrap JS -->
      <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
      <!-- Bootstrap JS -->
      <script src="{% static 'js/bootstrap.min.js' %}"></script>
      <!-- Popper JS -->
      <script src="{% static 'js/popper.min.js' %}"></script>
      <!-- Font Awesome -->
      <script src="{% static 'js/all.min.js' %}"></script>
      <!-- Sweat Alert JS-->
      <script src="{% static 'plugins/sweetalert2-9.10.0/sweetalert2.min.js' %}"></script>
    {% endblock javascript %}

    {% block extra_javascript %}
    {% endblock extra_javascript %}
</body>
</html>
