{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block content %}
  <!-- Page Content -->
  <div class="container error-pages">
    <!-- Page Heading/Breadcrumbs -->
    <div class="jumbotron">
      <h1 class="display-4">403 Forbidden</h1>
      <p class="lead">"No tiene los permisos necesarios para realizar esta solicitud."</p>
      <hr class="my-4">
      <a class="btn btn-primary btn-lg" href="{% url 'index' %}" role="button">Return</a>
    </div>
    <!-- /.jumbotron -->
  </div>
  <!-- /.container -->
{% endblock content %}